<h2>List of ratings</h2>

<h3>Recent ratings</h3>

<ul>
  <% @recent.each do |rating| %>
      <li> <%= rating %> <%= link_to rating.user.username, rating.user %> </li>
  <% end %>
</ul>



<%= link_to 'create new rating', new_rating_path %>

